In [1]:
import pandas as pd

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [8]:
df.iloc[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

df.loc[] takes column names, index, and also defined indexes while df.iloc[] takes only default indexes.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [9]:
new_df = df.reindex([3,0,1,2])

In [10]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [11]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [12]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Yes we observed a difference, that is new_df.loc[] takes defined index while new_df.iloc[] takes default index.

In [13]:
import numpy as np

In [15]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]


df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [16]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.025141  0.743886  0.344857  0.064953  0.286690  0.690238
2  0.097582  0.062508  0.213198  0.546682  0.181128  0.438410
3  0.213969  0.227302  0.370825  0.736212  0.527714  0.346375
4  0.935602  0.332369  0.578442  0.172361  0.960739  0.161566
5  0.911799  0.237404  0.279105  0.241149  0.290357  0.654931
6  0.559769  0.632335  0.069830  0.862875  0.258019  0.609358

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [18]:
df1.mean()

column_1    0.457310
column_2    0.372634
column_3    0.309376
column_4    0.437372
column_5    0.417441
column_6    0.483480
dtype: float64

In [19]:
df1['column_2'].std()

0.26171732268741427

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [22]:
df1.loc[1,'column_2'] = 'string_data'

In [25]:
df1['column_2'].mean()

TypeError: can only concatenate str (not "float") to str

# To calculate the mean, you need to ensure that all values in the 'column_2' column are of a numeric data type (e.g., int or float). If you want to include string data, you would need to convert the strings to numeric values first, which may involve data cleaning and conversion.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?`

Window functions allow you to calculate statistics like rolling means, rolling sums, rolling standard deviations, and more.
in pandas window function applied using .rolling()

In [26]:
# Moving average
df1['roling_mean'] = df1['column_1'].rolling(window=2).mean()

In [27]:
df1

   column_1     column_2  column_3  column_4  column_5  column_6  roling_mean
1  0.025141  string_data  0.344857  0.064953  0.286690  0.690238          NaN
2  0.097582     0.062508  0.213198  0.546682  0.181128  0.438410     0.061362
3  0.213969     0.227302  0.370825  0.736212  0.527714  0.346375     0.155776
4  0.935602     0.332369  0.578442  0.172361  0.960739  0.161566     0.574786
5  0.911799     0.237404  0.279105  0.241149  0.290357  0.654931     0.923700
6  0.559769     0.632335  0.069830  0.862875  0.258019  0.609358     0.735784

In [28]:
#Exponential Moving Average
df1['EMA'] = df1['column_1'].ewm(span=2).mean()

In [29]:
df1

,column_1,column_2,column_3,column_4,column_5,column_6,roling_mean,EMA
1,0.025141,string_data,0.344857,0.064953,0.286690,0.690238,NaN,0.025141
2,0.097582,0.062508,0.213198,0.546682,0.181128,0.438410,0.061362,0.079472
3,0.213969,0.227302,0.370825,0.736212,0.527714,0.346375,0.155776,0.172586
4,0.935602,0.332369,0.578442,0.172361,0.960739,0.161566,0.574786,0.687621
5,0.911799,0.237404,0.279105,0.241149,0.290357,0.654931,0.923700,0.837691
6,0.559769,0.632335,0.069830,0.862875,0.258019,0.609358,0.735784,0.652155

In [30]:
# rolling Sum
df1['rolling_sum'] = df1['column_1'].rolling(window=2).sum()

In [31]:
df1

,column_1,column_2,column_3,column_4,column_5,column_6,roling_mean,EMA,rolling_sum
1,0.025141,string_data,0.344857,0.064953,0.286690,0.690238,NaN,0.025141,NaN
2,0.097582,0.062508,0.213198,0.546682,0.181128,0.438410,0.061362,0.079472,0.122723
3,0.213969,0.227302,0.370825,0.736212,0.527714,0.346375,0.155776,0.172586,0.311552
4,0.935602,0.332369,0.578442,0.172361,0.960739,0.161566,0.574786,0.687621,1.149571
5,0.911799,0.237404,0.279105,0.241149,0.290357,0.654931,0.923700,0.837691,1.847401
6,0.559769,0.632335,0.069830,0.862875,0.258019,0.609358,0.735784,0.652155,1.471568

In [37]:
# rolling min and max
df1['column_1'].rolling(window=2).max()

1         NaN
2    0.097582
3    0.213969
4    0.935602
5    0.935602
6    0.911799
Name: column_1, dtype: float64

In [39]:
df1['column_1'].rolling(window=2).min()

1         NaN
2    0.025141
3    0.097582
4    0.213969
5    0.911799
6    0.559769
Name: column_1, dtype: float64

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [40]:
from datetime import datetime

In [41]:
current_date = datetime.now()

In [45]:
current_month = pd.to_datetime(current_date).month
current_year = pd.to_datetime(current_date).year

In [48]:
print('Current month: ',current_month)
print('Current year: ', current_year)

Current month:  9
Current year:  2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [59]:
def date_diff(start_date, end_date):
    try:
        start_datetime = pd.to_datetime(start_date)
        end_datetime = pd.to_datetime(end_date)
        
        date_difference = end_datetime - start_datetime
        
        days = date_difference.days
        hours, remainder = divmod(date_difference.seconds, 3600)
        minutes, _ = divmod(remainder,60)
        
        return days, hours, minutes
    except ValueError:
        return None
    
start_date = input("Enter the start date (YYYY-MM-DD): ")
end_date = input("Enter the end date (YYYY-MM-DD): ")

result = date_diff(start_date, end_date)
print(result)

Enter the start date (YYYY-MM-DD): 2022-10-10
Enter the end date (YYYY-MM-DD): 2023-10-10
(365, 0, 0)

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [61]:
def csv_file_read(path,column_name,category_order):
    try:
        df = pd.read_csv('path')
        
        df['column_name'] = pd.Categorical(df['column_name'],categories=category_order, ordered= True)
        
        print(df)
        
    except FileNotFoundError:
        print('file not found')
    except KeyError:
        print('column name not found in csv file')
        
path = input('file_path: ')
column_name = input('column name: ')
category_order = input().split(',')

csv_file_read(path, column_name, category_order)

file_path: C:/Users/Pushpender singh/Documents/Python 2/03-Pandas/tips.csv
column name: tip
23
file not found

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [62]:
import matplotlib.pyplot as plt

In [63]:
def bar_chart_visual(file_path):
    try:
        df = pd.read_csv(file_path)
        df_pivot = df.pivot(index='Date', columns='Category', values='Sales')
        
        ax = df_pivot.plot(kind='bar', stacked = True, figsize=(10,6))
        
        plt.xlabel('Date')
        plt.ylabel('Sales')
        plt.title('Sales by Category over time')
        
        plt.legend('Category')
        plt.show()
        
    except FileNotFoundError:
        print('File not found')
        
file_path = input('Enter the CSV file path: ')

Enter the CSV file path: C:/Users/Pushpender singh/Downloads/SuperStoreUS-2015.csv

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [65]:
df4 = pd.DataFrame({'student_id':[1,2,3,4,5,6,7,8,9,10],
                    'Test score':[84,90,80,75,82,94,78,87,92,83]
                   })

In [66]:
df4

   student_id  Test score
0           1          84
1           2          90
2           3          80
3           4          75
4           5          82
5           6          94
6           7          78
7           8          87
8           9          92
9          10          83

In [68]:
def df_stats(df):
    df_mean = df['Test score'].mean()
    df_median = df['Test score'].median()
    df_mode = df['Test score'].mode()
    return df_mean, df_median, df_mode

In [71]:
df_stats(df4)

(84.5,
 83.5,
 0    75
 1    78
 2    80
 3    82
 4    83
 5    84
 6    87
 7    90
 8    92
 9    94
 dtype: int64)